/* using id selector */
/* #h2Title{
font-size: 100px;
font-family: 'Couri5px
r New', Courier, monospace;
color: cadetblue;
} */
/* universal selector */
.title{
    background-color: lightgrey;
    border: 1px groove lightslategray;
    border-bottom: 5px dashed black;
    border-radius: 5px;
    padding:10px;
    padding-left: 0;
    margin: 20px;
    margin-left: 0;
    padding: 20px 10px 5px 30px;
    margin: 20px 10px 5px 30px;
    margin: 30px 10px;

}
*{
    font-family: 'Courier New', Courier, monospace;

}
/* using a class selector */
.mandatory_fields{

    font-weight : bold;
}
.container{

    background-color: lightblue;
}
.header{
    height: 200 px;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url("https://images.unsplash.com/photo-1583316174775-bd6dc0e9f298?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGJvdXRpcXVlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");


}
